<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  <!-- add spring-context 5.2.10.RELEASE -->

  <!-- method 1 add dao bean -->
  <!-- <bean id="bookDao"  class="com.morgan.springIoCandDIdemo.dao.impl.BookDaoImpl"/> -->

  <!-- method 2 add singleton factory bean -->
  <!-- <bean id="OrderDao" class="com.morgan.springIoCandDIdemo.factory.OrderDaoFactory" factory-method="getOrderDao"/> -->
  <!-- method 3 add instance factory bean-->
  <!-- <bean id="userFactory" class="com.morgan.springIoCandDIdemo.factory.UserDaoFactory"/>
  <bean id="userDao" factory-method="getUserDao" factory-bean="userFactory"/> -->
  <!-- method 4 create UserDaofactorybean to generate bean  -->
  <bean id="userDao" class="com.morgan.springIoCandDIdemo.factory.UserDaoFactoryBean"/>
</beans>