<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  <!-- add spring-context 5.2.10.RELEASE -->


<!-- Standard way -->
  <!-- add bean -->
  <!-- <bean id="bookDao"  class="com.morgan.springIoCandDIdemo.dao.impl.BookDaoImpl">
  <constructor-arg name="databaseName" value="mysql"/>
  <constructor-arg name="connectionNum" value="1000"/>
  </bean>
  <bean id="userDao" class="com.morgan.springIoCandDIdemo.dao.impl.UserDaoImpl"/>
  <bean id="bookService" class="com.morgan.springIoCandDIdemo.service.impl.BookServiceImpl"> -->
   <!-- property is for setup the bean property
       name is to define the parameter in serviceimpl
       ref need to chosoe the parmeter in appicationContext -->
  <!-- <constructor-arg name="bookDao" ref="bookDao"/>
  <constructor-arg name="userDao" ref="userDao"/>  -->

<!--convience way to decoupling parameters-->
  <!-- <bean id="bookDao"  class="com.morgan.springIoCandDIdemo.dao.impl.BookDaoImpl">
  <constructor-arg type="String" value="mysql"/>
  <constructor-arg type="int" value="1000"/>
  </bean>
  <bean id="userDao" class="com.morgan.springIoCandDIdemo.dao.impl.UserDaoImpl"/>
  <bean id="bookService" class="com.morgan.springIoCandDIdemo.service.impl.BookServiceImpl">
  <constructor-arg name="bookDao" ref="bookDao"/>
  <constructor-arg name="userDao" ref="userDao"/> -->
<!--  -->
  <bean id="bookDao"  class="com.morgan.springIoCandDIdemo.dao.impl.BookDaoImpl">
  <constructor-arg index="1" value="mysql"/>
  <constructor-arg index="0" value="1000"/>
  </bean>
  <bean id="userDao" class="com.morgan.springIoCandDIdemo.dao.impl.UserDaoImpl"/>
  <bean id="bookService" class="com.morgan.springIoCandDIdemo.service.impl.BookServiceImpl">
  <constructor-arg name="bookDao" ref="bookDao"/>
  <constructor-arg name="userDao" ref="userDao"/>
  </bean>
</beans>