<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  <!-- add spring-context 5.2.10.RELEASE -->

  <!-- add bean -->
  <bean id="bookDao"  class="com.morgan.springIoCandDIdemo.dao.impl.BookDaoImpl"/>
  <bean id="userDao" class="com.morgan.springIoCandDIdemo.dao.impl.UserDaoImpl"/> 
  <bean id="bookService" class="com.morgan.springIoCandDIdemo.service.impl.BookServiceImpl">
<!-- property is for setup the bean property
       name is to define the parameter in serviceimpl
       ref need to chosoe the parmeter in appicationContext-->
  <property name="bookDao" ref="bookDao"></property>
  <property name="userDao" ref="userDao"></property>
  </bean>
</beans>